:root {
  /*Variables de colores*/
  --color-primary: orange;
  /*cambiara hexa*/
  --color-secondary: skyblue;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --box-shadow-1: 0 1px 1px rgba(0, 0, 0, .3);
  --color-background: #bed1e6;
}

#seleccionarRegistroBody {
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  display: grid;
}

#seleccionarRegistroHeader {
  width: auto;
  text-align: center;
  padding: 15px;
}
#seleccionarRegistroHeader .container #navbarNavDropdown {
  text-align: right;
}
#seleccionarRegistroHeader .container .row .col-6 a {
  text-decoration: none;
}
#seleccionarRegistroHeader .container .row .col-6 a .title {
  text-align: center;
}
#seleccionarRegistroHeader .container .row .col-6 .img {
  height: auto;
  border: 1px solid #fd7e14;
  border-radius: 25%;
  padding: 5px;
  width: 150px;
  text-align: left;
}

#seleccionarRegistroMain {
  padding: 30px;
  padding-top: 10px;
  background-color: #000;
}
#seleccionarRegistroMain .container-flex .row .col-6 .form .btn btn-primary {
  padding-top: 10px;
}

#seleccionarRegistroFooter {
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#plImg {
  position: absolute;
  left: 700px;
  top: 200px;
}

#elegirUsuarioTitle {
  margin: 0;
  padding: 20px 0;
  color: skyblue;
  font-size: 130px;
  font-weight: 500;
}

#btnElegirAlumno {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #fd7e14;
  border: 12px;
  padding: 12px 34px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  transition-duration: 0.4s;
  right: 100px;
  top: 470px;
}

.button:hover btnElegirAlumno {
  background-color: #378dfc;
  color: white;
}

#btnElegirProfesor {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #378dfc;
  border: 12px;
  padding: 12px 34px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  left: 120px;
  top: 400px;
}

#contactUs {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#portalList {
  display: inline-block;
}

/*-------------------------------------------------------------Ingresar Profesor------------------------------------------------------------------*/
/*
 #formIP {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
*/
#formIP #thumbnailIP {
  background: rgb(242, 242, 242);
  width: 150px;
  height: 150px;
  margin: 0 auto -130px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}

#imgIP {
  max-width: 100%;
  max-height: 100%;
}

#imagenIP {
  position: relative;
  top: -23px;
  left: 65px;
  height: 170px;
  width: 170px;
}

#formIP #inputIP {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

#formIP #buttonIP {
  outline: 0;
  background: #2ECCFA;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#containerIP {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#containerIP #infoIP {
  margin: 50px auto;
  text-align: center;
}

#containerIP #infoIP #h1IP {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

#containerIP #infoIP #spanIP {
  color: #ff0202;
  font-size: 12px;
}

#containerIP #infoIP #spanIP #aIP {
  color: #000000;
  text-decoration: none;
}

#bodyIP {
  background: rgb(231, 228, 228);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-------------------------------------------------------------Registrar Profesor------------------------------------------------------------------*/
/*
#formIP {

  .input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
  }
}
*/
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

.input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

#bodyI {
  background: rgb(231, 228, 228);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* pijona *//*# sourceMappingURL=style.css.map */