@charset "UTF-8";
:root {
  /*Variables de colores*/
  --color-primary: orange; /*Botones*/
  /*cambiara hexa*/
  --color-secondary: skyblue;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --box-shadow-1: 0 1px 1px rgba(0, 0, 0, .3);
  --color-background: #bed1e6;
}

#seleccionarRegistroBody {
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  display: grid;
}

#seleccionarRegistroHeader {
  width: auto;
  text-align: center;
  padding: 15px;
}
#seleccionarRegistroHeader .container #navbarNavDropdown {
  text-align: right;
}
#seleccionarRegistroHeader .container .row .col-6 a {
  text-decoration: none;
}
#seleccionarRegistroHeader .container .row .col-6 a .title {
  text-align: center;
}
#seleccionarRegistroHeader .container .row .col-6 .img {
  height: auto;
  border: 1px solid #fd7e14;
  border-radius: 25%;
  padding: 5px;
  width: 150px;
  text-align: left;
}

#seleccionarRegistroMain {
  padding: 30px;
  padding-top: 10px;
}
#seleccionarRegistroMain .container-flex .row .col-6 .form .btn btn-primary {
  padding-top: 10px;
}

#seleccionarRegistroFooter {
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#plImg {
  position: absolute;
  left: 700px;
  top: 200px;
}

#elegirUsuarioTitle {
  margin: 0;
  padding: 20px 0;
  color: skyblue;
  font-size: 130px;
  font-weight: 500;
}

#btnElegirAlumno {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #fd7e14;
  border: 12px;
  padding: 12px 34px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  transition-duration: 0.4s;
  right: 100px;
  top: 470px;
}

.button:hover btnElegirAlumno {
  background-color: #378dfc;
  color: white;
}

#btnElegirProfesor {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #378dfc;
  border: 12px;
  padding: 12px 34px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  left: 120px;
  top: 400px;
}

#contactUs {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#portalList {
  display: inline-block;
}

/*-------------------------------------------------------------Ingresar Profesor------------------------------------------------------------------*/
/* El formIP(es el formulario de ingresarProfesor.html )*/
#formIP {
  position: relative;
  z-index: 1;
  background: #d3d3d3;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

#formIA {
  position: relative;
  z-index: 1;
  background: #d3d3d3;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

/*Esto es para que el logo no se deforme*/
.img {
  max-width: 100%;
  max-height: 100%;
  
}

/*El tamaño y posicionamiento del logo */
#imgIP {
  position: relative;
  margin: auto;
  height: 270px;
  width: 250px;
  object-fit: none;
  padding-top: 10px;
}

#imgIA {
  position: relative;
  margin: auto;
  height: 270px;
  width: 250px;
  object-fit: none;
  padding-top: 10px;
}

/*Contenedor de h1 */
#containerIP {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#containerIA {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#containerIP #infoIP {
  margin: 50px auto;
  text-align: center;
}

#containerIA #infoIA {
  margin: 50px auto;
  text-align: center;
}

/*Modifica forma/color/tamaño de h1 */
#containerIP #infoIP #h1IP {
  margin: auto;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

#containerIA #infoIA #h1IA {
  margin: auto;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

/*Tamaño a PortalList */
#containerIP #infoIP #spanIP {
  font-size: 12px;
}

#containerIA #infoIA #spanIA {
  font-size: 12px;
}

/*Le saca el color al texto (linkeado) */
#containerIP #infoIP #spanIP #aIP {
  color: #000000;
  text-decoration: none;
}

#containerIA #infoIA #spanIA #aIA {
  color: #000000;
  text-decoration: none;
}


#contactUsIP {
  margin: 0 0 0px;
  font-size: 18px;
  text-align: center;
}

#contactUsIA {
  margin: 0 0 0px;
  font-size: 18px;
  text-align: center;
}

.aCU {
  color: #1a1a1a;
  text-decoration: none;
}

.copyR {
  text-align: center;
  margin-bottom: 10px;
}

#inputUsuarioIP{
  margin-bottom: 10px;
 
}

#inputUsuarioIA{
  margin-bottom: 10px;
}

 #imgIUser {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-left:84px ;
  margin-top: 8px;
  position:absolute;
}

#btnLoginIP{
  margin-top: 20px;
}

#btnLoginIA{
  margin-top: 20px;
}

#bodyIP {
  overflow-x: hidden;
}

#bodyIA {
  overflow-x: hidden;
}

#correctoIP{
  color: rgb(10, 184, 10);
}

#incorrectoIP{
  color: red;
}
/*-------------------------------------------------------------Registrar Profesor------------------------------------------------------------------*/
/* El formIP(es el formulario de ingresarProfesor.html )*/
#formRP {
  position: relative;
  z-index: 1;
  background: #d3d3d3;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

#formRegAlu {
  position: relative;
  z-index: 1;
  background: #d3d3d3;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

/*Esto es para que el logo no se deforme*/
.img {
  max-width: 100%;
  max-height: 100%;
  
}

/*El tamaño y posicionamiento del logo */
#imgRP {
  position: relative;
  margin: auto;
  height: 270px;
  width: 250px;
  object-fit: none;
  padding-top: 10px;
}

#imgRA {
  position: relative;
  margin: auto;
  height: 270px;
  width: 250px;
  object-fit: none;
  padding-top: 10px;
}

/*Contenedor de h1 */
#containerIP {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#containerIA {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#containerIP #infoIP {
  margin: 50px auto;
  text-align: center;
}

#containerIA #infoIA {
  margin: 50px auto;
  text-align: center;
}

/*Modifica forma/color/tamaño de h1 */
#containerIP #infoIP #h1IP {
  margin: auto;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

#containerIA #infoIA #h1IA {
  margin: auto;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

/*Tamaño a PortalList */
#containerIP #infoIP #spanIP {
  font-size: 12px;
}

#containerIA #infoIA #spanIA {
  font-size: 12px;
}

/*Le saca el color al texto (linkeado) */
#containerIP #infoIP #spanIP #aIP {
  color: #000000;
  text-decoration: none;
}

#containerIA #infoIA #spanIA #aIA {
  color: #000000;
  text-decoration: none;
}


#contactUsIP {
  margin: 0 0 0px;
  font-size: 18px;
  text-align: center;
}

#contactUsIA {
  margin: 0 0 0px;
  font-size: 18px;
  text-align: center;
}

.aCU {
  color: #1a1a1a;
  text-decoration: none;
}

.copyR {
  text-align: center;
  margin-bottom: 10px;
}

#inputUsuarioIP{
  margin-bottom: 10px;
 
}

#inputUsuarioIA{
  margin-bottom: 10px;
}

 #imgIUser {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-left:84px ;
  margin-top: 8px;
  position:absolute;
}

#btnLoginIP{
  margin-top: 20px;
}

#btnLoginIA{
  margin-top: 20px;
}

#bodyIP {
  overflow-x: hidden;
}

#bodyIA {
  overflow-x: hidden;
}
