<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión Profesor</title>
  <link rel="stylesheet" href="static_in_env/css/style.css"/>
</head>
<body id="bodyIP">
  <div id="containerIP">
  <div id="infoIP">
    <h1>Iniciar Sesión Profesor</h1><span><a href="index.html">Portal List</a></span>
  </div>
</div>
<div id="formIP">
  <div id="thumbnailIP"></div>
  <div id="imagenIP"><img id="imgIP" src="static_in_env/img/PL.png"/></div>
  <form id="login-formIP">
    <input type=text placeholder="Usuario"/>
    <input type=password placeholder="Contraseña"/>
    <button>Login</button>
  </form>
</div>
</body>
</html>